<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStoreApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"> Book Store</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/Genre/Add" class="nav-link">Genre</a>
                </li>
                <li class="nav-item">
                    <a href="/Author/Add" class="nav-link">Author</a>
                </li>
                <li class="nav-item active">
                    <a href="/Publisher/Add" class="nav-link">Publisher</a>
                </li>

                <li class="nav-item">
                    <a href="/Book/Add" class="nav-link">Book</a>
                </li>
            </ul>

        </nav>
        @RenderBody();

    </div>
</body>
</html>
